h2 {font-family: 'Oswald', sans-serif;
}
h2 {text-align:left;
    padding: 10px;
  }

p {text-align: center;
  font-family: 'Courgette', cursive;
  }

.page-header{flex: cornflowerblue;
}
.card {
  background-color: hsl(0, 0%, 100
  border-radius: 50px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
#responsive-image {
    height:400px;
    float:left;
}
#responsive-image * {
    padding: 20px;
}
.wrapper {

  width: 100%;
  padding: 20px;
}

#image1 {
  padding: 20px;
}
#image2 {
  padding: 20px;
}
#image3 {
    padding: 20px;
}
#image4 {
      padding: 20px;
}
#image5 {
        padding: 20px;     
      
@media screen and (max-width: 168px) {
  body {
    background-color: rgb(128, 127, 156);
  }

